.select-hidden {
  display: none;
  visibility: hidden;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 0.875rem;
  font-weight: 700;
  border: 0.0625rem solid #909FAC;
  color: #45c2ae;
  min-width: 5rem;
  min-height: 2.5rem;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:before, .select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 0.25rem solid transparent;
  right: 0.625rem;
}
.select-styled:before {
  border-color: transparent transparent #909FAC transparent;
  position: absolute;
  top: 0.65rem;
}
.select-styled:after {
  border-color: #909FAC transparent transparent transparent;
  position: absolute;
  bottom: 0.65rem;
}
.select-styled.active {
  -webkit-box-shadow: 0 0 8px rgba(144, 159, 172, 0.75);
          box-shadow: 0 0 8px rgba(144, 159, 172, 0.75);
}
.select-styled.active:before {
  border-color: transparent transparent #45c2ae transparent;
}
.select-styled.active:after {
  border-color: #45c2ae transparent transparent transparent;
}
.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0.0625rem solid rgba(144, 159, 172, 0.25);
  background-color: #ffffff;
  color: #174e76;
}
.select-options li {
  margin: 0;
  padding: 0.75rem 1rem;
  border-top: 0.0625rem solid rgba(23, 78, 118, 0.125);
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}
.select-options li:hover, .select-options li.is-selected {
  color: #ffffff;
  background: #eb696a;
}
.select-options li[rel=hide] {
  display: none;
}